<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.clevertap.multiprocessapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.clevertap.multiprocessapp.MyCustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PaytmMultiProcessSampleApp">
        <activity
            android:name="com.clevertap.multiprocessapp.ProcessThreeActivity"
            android:process=":processthree" />
        <activity
            android:name="com.clevertap.multiprocessapp.ProcessTwoActivity"
            android:process=":processtwo" />
        <activity
            android:name="com.clevertap.multiprocessapp.ProcessOneActivity"
            android:process=":processone" />
        <activity android:name="com.clevertap.multiprocessapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- replace below value with your FCM project number.-->
        <meta-data
            android:name="FCM_SENDER_ID"
            android:value="id:338374641410"/>
        <meta-data
            android:name="CLEVERTAP_BACKGROUND_SYNC"
            android:value="1"/>

    </application>
</manifest>